.hg/
.hgignore

Telemetry/.vs/
Telemetry/Helpers/bin/
Telemetry/Helpers/obj/

Telemetry/Infrastructure/bin/
Telemetry/Infrastructure/obj/

Telemetry/TelemetryComponent/bin/
Telemetry/TelemetryComponent/obj/

Telemetry/TelemetryTests/bin/
Telemetry/TelemetryTests/obj/

Telemetry/TestingProject/bin/
Telemetry/TestingProject/obj/

Telemetry/InputHook/Debug/
Telemetry/InputHookTest/Debug/
Telemetry/Debug/

*.user
